{% extends "mysite/base.html" %}
{% block content %}

  <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="container py-4">

            <div class="bg-light rounded-container">
              <div style="margin-left:2rem" class="container-fluid py-5">
                <h1 class="display-3 fw-bold">What I Learned</h1>
                <p style="font-size: 25px;" class="lead">Here are 2 things I learned and 2 big takeaways from the course.</p>
                <button class="round-btn" type="button">Example button</button>
              </div>
            </div>

            <div class="row align-items-md-stretch mt-3">
              <div class="col-md-6">
                <div style="border-radius:" class="h-100 p-5 bg-light rounded-container">
                  <h2>Django</h2>
                  <p>Used by many big companies such as Instagram, Youtube, Spotify, Reddit</p>
                  <p>Benefits: Scalable, Secure code, Uses Python, Built-in Administration Interface</p>
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="h-100 p-5 bg-light rounded-container">
                  <h2>Financial Literacy</h2>
                  <p>It is important to feel financially secured, but not be restricting to the extent of not going out with friends or purchasing gifts for friends and family</p>
                  
                </div>
              </div>
            </div>

            <div style="margin-bottom:4.75rem;" class="row align-items-md-stretch mt-3">
              <div class="col-md-6">
                <div class="h-100 p-5 bg-light rounded-container">
                  <h2>Technology</h2>
                  <p>Powerful tool that can be used to solve social problems, but it can also be equally dangerous, so it is important for us to examine any underlying biases in technology</p>
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="h-100 p-5 bg-light rounded-container">
                  <h2>Web Development</h2>
                  <p>This field of work is incredibly important as the demand of websites for businesses and individuals increase during this digital age</p>
                  
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

{% endblock %}